/* GLOBAL */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("bg.png");
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;

}

.app-bg {
    
    background-image: url("bg.png");
}

.row {
    margin: 0 !important;

}

.lower-spacer {
    padding-bottom: 120px;

}

.fixed-back-btn {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    height: 2rem;
    width: 100vw;
    margin-bottom: 4vh !important;

}

.fixed-back-btn img {
    padding-left: 1.5rem;
    padding-top: 1vh;
    height: 24px;

}

.back-btn-text {
    color: #FFF;
    font-size: 17px;
    margin-bottom: 0;
    padding: 4px 0 0 4px;

}

.logo-back-btn {
    width: 35vw;
    margin-top: 7vh;
    padding-bottom: 3vh;

}

/* header image for all form pages */
#headerimage {
    width: 100vw !important;
}

.main-wrap {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    height: 75vh;
}

/* HOME PAGE */
#header-img {
    width: 100vw;
}

.header-logo-wrap {
    background-size: cover;
    padding: 4vw;
    text-align: center;
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: solid #f2f2f2 8px;
    position: relative;
    top: 0px;
    z-index: 3;
}

.header-logo {
    position: relative;
    left: 5vw;
    width: 50vw;
    z-index: 1;

}

.header-bell {
    position: relative;
    right: -11vw;
    bottom: 11vw;
    width: 11vw;
}


.header-bg {
    width: 100vw;
    overflow: hidden;
}

.upper-buttons {
    height: 30vw;
    background-color: #541614;
    border-bottom-left-radius: 9%;
    border-bottom-right-radius: 9%;
    position: relative;
    top: -16px;
    z-index: 2;
}

.upper-buttons img {
    width: 27vw;
    margin: 1vw;
    padding: 1vw;
    position: relative;
    top: auto;
    z-index: 2;
}

.mid-btn-wrap {
    display: flex;
    width: 100%;
    height: 51vh;
    flex-direction: column;
    border-bottom: 7px solid #f2f2f2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.mid-btn-wrap div {
    flex-basis: 120px;
}


.mid-btn-wrap div img {
    max-width: 70%;
    height: auto;
}

.shrink-box {
    flex-shrink: 1;
}

.contact-img-wrap {
    text-align: center;
}

.contact-img {
    width: 17vw;
    margin: 2vw;
}


.lower-buttons {
    margin: 0;
    background-color: #541614;
    border-style: none;
    z-index: inherit;
}

.home-img-wrap {
    background-color: #541614;
    position: relative;
    top: -16px;
    z-index: 2;
}


.home-img {
    width: 100vw;
}

.lower-buttons hr {
    border-top: 1px solid #FFCC83;
    width: 95%;
}

.gutter {
    display: block;
    height:100px;
}

/* FORMS PAGE */

.forms-bg {
    
    padding: 5vw;
    background: transparent;
    overflow: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.forms-img {
    margin-top: 1vw;
}


.forms-logo {
    width: 35vw;
    margin-top: 5vh;
    padding-bottom: 3vh
}

#forms-hdr {
    display: block;
    margin: 0 0 5% 5%;
    width: 15vw;
}

.form-buttons img {
    margin-bottom: 5%;
    width: 90%;

}

#forms .lower-spacer {
    padding-bottom: 90px;

}

/* MORE PAGE */
.more-bg {
    background: url(bg.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.styled-border {
    width: 60vw;
    border-top: 1px solid #f2f2f2;
    margin-left: 27vw;
    margin-top: 6px;
    text-align: right;
}


/* INFO PAGES */
#about,
#ask-agent,
#check-in,
#faqs,
#jails,
#panic {
    background-image: url(bg.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    height: 100vh;

}

.logo-header {
    text-align: center;
}

#info-pages {
    margin: 15% 10% 5%;

}

#info-pages button {
    background-color: #000;
    border-radius: 6px;
    color: #FFF;
    font-size: 14px;
    padding: 5%;
    text-transform: uppercase;
    width: 40vw;
}

#defendants-text {
    font-weight: 700;
    line-height: 1.1em;
    letter-spacing: -1px;
    padding-left: 8%;
    text-align: left;
    text-transform: uppercase;

}

#defendants-text span {
    display: inline-block;
    margin-bottom: 5px;

}

/* ASK AGENT PAGE */
#ask-agent-text {
    background-color: #fff;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 1.2em;
    padding: 6%;
    margin: 0 4% 5%;

}

/* JAIL PAGE */

.jail {
    margin: 0 3vw 4vw;
    border-bottom: 1px dotted gray;

}

.jail h2 {
    font-size: 5vw;

}

.jail h3 {
    font-size: 4vw;

}

.jail h4 {
    font-size: 4vw;

}

/* faqs */
.faqs h1 {
    font-size: 6vw;
    font-weight: bold;
    text-align: center;

}

.faq {
    border: 1px solid gray;
    border-radius: 3vw;
    background-color: #FFF;
    margin-bottom: 6vw;
    padding: 2vw;

}

.faq h3 {
    font-size: 5vw;
    font-weight: bold;
    padding-top: 3vw;

}

/* footer nav */

footer {
    position: fixed;
    width: 100vw;
    left: 0;
    bottom: 0;
    background-color: var(--dark-grey);
    display: flex;
    border-radius: 6vw 6vw 0 0;
    box-shadow: 1px 1px 4px #1b233c;
}

.forms-footer {
    margin-top: auto;
}


.nav-bar-top {
    height: 25vw;
    background-color: black;
    border-bottom: solid 1px black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.nav-wrap {
 display: flex;
}


.nav-bar {
    display: flex;
    background-color: #000;
    height: 10vw;
    padding: 2.0rem 0 1.5rem !important;
    text-align: center;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
}

.nav-btn {
    width: calc(100vw / 3);
}

.nav-icon {
    height: 5vw;
}

/* page transition */
.pages {
    visibility: visible;
    opacity: 1;
    overflow: auto;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;

}

.hidden {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    position: absolute;
    left: -999em;

}



/* panic */
#panic h3 {
    font-size: 6vw;

}

.reset-panic-btn {
    width: 50vw !important;
    padding: 5% 0;
    opacity: 0.8;

}

.invalid-feedback {
    margin-top: none;

}