/*------------------------------------------------------------------------------
Globals
------------------------------------------------------------------------------*/
.invalid-form {
    animation: invalid-form .5s linear;
    pointer-events: none;
}
.display-none {
    display: none !important;
}
@keyframes invalid-form {
   8%, 41% {
       -webkit-transform: translateX(-10px);
   }
   25%, 58% {
       -webkit-transform: translateX(10px);
   }
   75% {
       -webkit-transform: translateX(-5px);
   }
   92% {
       -webkit-transform: translateX(5px);
   }
   0%, 100% {
       -webkit-transform: translateX(0);
   }
}
/*------------------------------------------------------------------------------
Form Section
------------------------------------------------------------------------------*/
#form-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5%;
    background: #fff;
}
#form-section .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}
#form-section img {
    margin: auto auto 5% auto;
    width: 100%;
}
#form-section label {
    font-weight: 700;
    padding: 5px;
}
#form-section sub {
    font-size: 10px;
    font-weight: 400;
    padding: 5px;
}
#form-section input, select, textarea {
    border: solid 1px #dadada;
    border-radius: 4px;
    padding: 10px;
    margin: 0;
    font-size: 14px;
}
#form-section #submit-btn, .next-btn {
    margin: auto;
    display: flex;
}
/*------------------------------------------------------------------------------
Loading Modal
------------------------------------------------------------------------------*/
#loading-modal-section {
    position: absolute;
    top: 0;
    background: rgba(0,0,0,.8);
    display: flex;
    height: 100%;
    width: 100%;
}
#loading-modal-section .container {
    display: flex;
    flex-direction: column;
    margin: auto;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 25px;
    width: 250px;
}
#loading-modal-section img {
    margin: auto;
    height: 60px;
    width: 60px;
}
#loading-modal-section h1 {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #444;
}
